h1 {
    color: white;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

h4 {
    color: white;
}

p {
    color: white;
}

label {
    color: white;
}

.form-text {
    color: white;
}

li {
    color: white;
}

h4 {
    color: #B0903D;
}

h1 {
    color: #B0903D;
}

.page-title {
    text-align: center;
    align-content: center;
    color: #B0903D;
    margin-top: 2%;
}

.page-background-img {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.1;
}

.card {
    width: 50%;
    background-color: #5d5d5dc6;
    border: 2px solid black;
}

.bosch-logo {
    width: 7%;
}

@media screen and (max-width: 600px) {
    .card {
        width: 110%;
    }

    .bosch-logo {
        width: 10%;
    }

}